@font-face {
  font-family: logoFont;
  src: url(../fonts/Alegreya_Sans_SC/AlegreyaSansSC-Black.ttf);
}

#caleander {
  text-align: center;
}

#reopening {
  background-color: white;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 100;
}
#reopening-close {
  font-size: 24px;
}
#reopening-close:hover {
  cursor: pointer;
}

.content {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand img{
  max-width: 80% !important;
}

.logo-font {
  font-family: "logoFont";
}

.navbar-background {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

.navbar-logo {
  max-height: 100px;
}

.slide-in {
  display: none;
}

.logo-font {
  font-family: logoFont;
}

.row {
  margin: 0 0 0 0 !important;
}

.splash-content {
  height: 600px;
  background: url(../img/pictures/IMG_0072.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}

.center {
  text-align: center;
}

.vertical-center {
  margin: auto;
  width: 50%;
  text-align: center;
}

.extra-margin {
  margin-top: 5px;
}

footer {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  align-items: center;
}